<h2>Reactive: <small> Dinámicos </small></h2>
<hr>


<form  (ngSubmit)="guardar()"
       [formGroup]="miFormulario">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   formControlName="nombre"
                   placeholder="Nombre de la persona">
            <span class="form-text text-danger"
                  *ngIf="campoValido('nombre')">
               Ingresa minimo 3 caracteres
            </span>
        </div>
    </div>
    <!-- fin Nombre -->
    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       [formControl]="nuevoFavorito"
                       (keyup.enter)="agregarFavorito()">

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- fin Agregar Favorito -->
    <!-- Lista de Juegos Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArr.controls
                         let i = index">

                      <input class="form-control"
                            [formControlName]="i">
                      <button class="btn btn-outline-danger"
                              type="button"
                              (click)="eliminar(i)">
                        Eliminar
                    </button>
            </div>

        </div>

    </div>
    <!-- Fin Lista de Juegos Favoritos -->
    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre> {{miFormulario.valid}} </pre>
<span>Value</span>
<pre> {{miFormulario.value | json }} </pre>
